body {
    background-color: #0362fc;
}

::selection {
    background-color: rgb(184, 223, 255);
    color: rgb(81, 0, 211);
}

.hrNorm {
width: 80%;
background-color: rgb(0, 12, 122);
border: outset 1px rgb(41, 62, 255);
height: 2px;
}

.hrShort {
    width: 20%;
    background-color: rgb(0, 12, 122);
    border: outset 1px rgb(41, 62, 255);
    height: 2px;
}
.welcomeTextHeader {
    color: darkblue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.discordLogoWrap, .discordLogoWrap:visited {
    height: auto; 
    width: auto; 
    border: outset 10px rgb(0, 0, 255);
}
.discordLogoWrap:hover {
    border: solid 10px rgb(0, 194, 168)
}
.discordLogoWrap:active {
    border: inset 10px rgb(0, 255, 221)
}

.headerText {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-decoration: underline;
}

.defaultText {
    color: darkblue;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.profileText {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}


.quickJumpText, .quickJumpText:visited {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
}
.quickJumpText:hover {
    color: darkblue;
    text-decoration: underline;
}
.quickJumpText:active {
    color: rgb(0, 241, 0);
    text-decoration: underline;
}

.listText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: darkblue;
    text-align: center;
}

.listText:link, .listText:visited {
    color: darkblue;
    background-color: transparent;
    text-decoration: none;
}

.listText:hover {
    color: darkblue;
    background-color: transparent;
    text-decoration: underline;
}

.listText:active {
    color: rgb(0, 194, 10);
    background-color: transparent;
    text-decoration: none;
}